<section class="comments">
    <h2>Comments</h2>
    <div id="disqus_thread"></div>
</section>

<!-- Replace this script with your disqus script -->
<script>

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//devmateusmedeiros.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Por favor, ative o JavaScript para ver os <a href="https://disqus.com/?ref_noscript" rel="nofollow">comentários powered by Disqus.</a></noscript>

<script id="dsq-count-scr" src="//devmateusmedeiros.disqus.com/count.js" async></script>