<header class="header">

  <button aria-expanded="false" aria-controls="menu" aria-label="Click to open the menu" class="bt-menu"><svg class="icon-top icon-menu"><use xlink:href="#icon-menu"></use></svg></button>
    <nav class="menu">
      <a aria-label="Back to home page" href="/"> Home </a>
      <a aria-label="Get to know me a little more" href="/about"> About </a>
      <a aria-label="My blog" href="/blog"> Blog </a>
      <a aria-label="Talk to me" href="/contact"> Contact </a>
    </nav>
  
  <button aria-expanded="false" aria-controls="search-container" aria-label="Search" class="bt-search"><svg class="icon-top icon-search"><use xlink:href="#icon-search"></use></svg></button>
  <div id="search-container">
    <input type="text" id="search-input" placeholder="블로그에서 검색...">
    <button aria-label="Close Search Toolbar" class="bt-close"><svg class="icon-top icon-close"><use xlink:href="#icon-close"></use></svg></button>
    <ul id="results-container"></ul>
  </div>

  <hgroup class="title">
    <h1> <a href="/"> 엘비의 기억저장소</a> </h1>  
    <h2> <a href="/"> Programming, Cloud, BigData, Machine Learning ... </a> </h2>
  </hgroup>

</header>
