/*-------------
---- Reset ----
-------------*/
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    padding: 0;
    background: none;
    border: 0;
    overflow: visible;
}

/*------------
---- Body ----
------------*/
body {
    font-family: $default-font;
    color: $black; 
}

/*------------------
---- Typography ----
------------------*/
h1 {
    font-size: 24pt;
    line-height: 28pt;
}

h2 {
    font-size: 20pt;
    line-height: 24pt;
}

h3 {
    font-size: 16pt;
    line-height: 20pt;
}

h4 {
    font-size: 14pt;
    line-height: 16pt;
}

h5 {
    font-size: 12pt;
    line-height: 14pt;
}

h6 {
    font-size: 10pt;
    line-height: 12pt;
}

p, a, li {
    font-size: 14pt;
    line-height: 18pt;
}

p {
    @extend %margins;
}

h4, h5, h6 {
    text-transform: uppercase;
}

/*-------------
---- Links ----
-------------*/
a {
    color: $blue;

    &:hover {
        color: darken($blue, 15%);
    }
}

/*-------------
---- Lists ----
-------------*/
ul {
    list-style: disc;
}

ul, ol {
    padding-left: 20px;

    li {
        padding: 5px 0;
    }
}

/*--------------
---- Images ----
--------------*/
img {
    max-width: 100%;
    vertical-align: middle;
}

figure > img {
    display: block;
}

.center {
  display: block;
  margin: 0 auto;
}

.right {
  float: right;
}

.left {
  float: left;
}

/*-------------------
---- Blockquotes ----
-------------------*/
blockquote {
    border-left: 4px solid $blue;
    font-size: 16pt;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}