@include media-query($bp-tablet-large) {
	/*------------
	---- Menu ----
	------------*/
	.bt-menu {
		display: block;
	}

    .menu {
    	display: none;
    	clear: both;

    	a {
        	float: none;
        	display: block;
        	margin: 0;
        	padding: 10px;
        	border-bottom: 1px solid $white;

        	&:last-child {
            	border-bottom: none;
        	}
    	}
	}
}

@include media-query($bp-mobile-large) {
	/*------------------
	---- Site Title ----
	------------------*/
	.title {
    	h1 a {
        	font-size: 24pt;
    	}

    	h2 a {
        	font-size: 16pt;
    	}
	}
	
	/*-------------------
	---- Page | Post ----
	-------------------*/
	.page-content {
  		padding: 25px 20px;
	}
	
	/*--------------
	---- Search ----
	--------------*/
	#search-container {

  		input[type=text]{
    		width: 80%;
  		}
	}

	/*--------------
	---- Author ----
	--------------*/
	.author {
		text-align: center;

		.email {
			font-size: 12pt;
		}
	}

	.img-author {
		float: none;
		display: block;
		margin: 0 auto;
	}
}